= form_for Customer.new, html: { class: 'book-form' } do |f|
  = f.email_field :email, placeholder: "Email Address"
  = f.submit "Submit"

  %p Get updates about the book and 20% off on launch day.

  = f.hidden_field :handbook, value: true
  = f.hidden_field :subscribed, value: true
  = hidden_field_tag :ref, "book"
%br
