- content_for :title do
  How to Become a Programmer - The Self-Taught Software Developer's Handbook
.book
.book-cover
  .fade
    %p.book-title The Self-Taught Software Develper's Handbook
    %br
    %p.book-subtitle How to Become a Programmer
    %br
    /- 4.times do
    /  %br
    %p By Hank Stoever

= render "pages/book/copy"

= render "customers/book_form"

= render "pages/book/toc"

= render "customers/book_form"

= render "pages/book/faq"

= render "customers/book_form"
