.book
.book-cover
  .fade
    %p.book-title The Self-Taught Developer's Handbook
    %br
    /%p A book about learning to learn.
    /- 4.times do
    /  %br
    %p By Hank Stoever

= render "pages/book/copy"

= render "customers/book_form"

= render "pages/book/toc"
  
= render "customers/book_form"

= render "pages/book/faq"

= render "customers/book_form"
