= cache [post, params['action']] do
  %h1.title= link_to post.title, post, class: 'plain'
  %p.description= "posted #{time_ago_in_words(post.created_at)} ago"
  - is_index = params['action'] == "index"
  - text = is_index ? post.preview : post.body
  - if !is_index && is_admin?
    - views = Rails.cache.read(post.view_cache_title)
    %p.description= pluralize(views, "view")
    %p.description= pluralize(post.word_count, "words")
  .post
    = markdown(text)
