= cache [post, params['action'], 'v2'] do
  %h1.title= link_to post.title, post, class: 'plain'
  %p.description
    = "posted #{time_ago_in_words(post.creation_date)} ago"
    = " - "
    = [1,post.reading_time.to_i].max
    min read
  - is_index = params['action'] == "index"
  - if !is_index && is_admin?
    - views = Rails.cache.read(post.view_cache_title)
    %p.description= pluralize(views, "view")
    %p.description= pluralize(post.word_count, "words")
  .post
    - if post.external_url.present?
      %p 
        Read this post on
        = "#{URI(post.external_url).host}:"
      %p
        = link_to post.external_url, post.external_url, target: :_blank
    - else
      - text = is_index ? post.preview : post.body
      = markdown(text)
