!!!
%html

  %head
    %title
      - if content_for? :title
        = yield(:title)
        = " - "
      Hank Stoever
    Hank Stoever
    <meta name="viewport" content="width=device-width, initial-scale=1">
    %meta{name: 'viewport', content: 'width=device-width', 'initial-scale' => 1}
    = analytics_init if Rails.env.production?
    = stylesheet_link_tag    "application", "https://fonts.googleapis.com/css?family=Lato:300,400,700", "https://fonts.googleapis.com/css?family=Roboto:300italic,300,500,500italic,700italic,700", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag
  %body
    %nav.navbar.navbar-default
      .row.text-center
        .navbar-nav.nav.col-md-12
          - clazz = 'col-md-2 text-center'
          %li{ class: PostsController === controller ? "#{clazz} active" : clazz }
            = link_to "Blog", posts_path, class: 'plain'
          %li{ class: params[:template] == 'projects' ? "#{clazz} active" : clazz }
            = link_to "Projects", page_path(template: :projects), class: 'plain'
          %li.col-md-4.col-md-offset-0.text-center
            = image_tag "https://secure.gravatar.com/avatar/73719c8eb97a63acd87f2f0a918a5005?s=100", id: "root-img", class: 'hidden-xs'
            = link_to "Hank Stoever", root_path, id: 'root-path', class: 'plain'
          %li.col-md-2.col-md-offset-2.text-center.dropdown
            %a.dropdown-toggle.plain{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Contact
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                = link_to icon("envelope") + "Email", "mailto:hstove@gmail.com"
              %li
                = link_to icon("github") + "Github", "https://github.com/hstove", target: '_blank'
              %li
                = link_to icon("linkedin") + "LinkedIn", "http://www.linkedin.com/in/hankstoever", target: '_blank'
              %li
                = link_to icon("twitter") + "Twitter", "https://twitter.com/heynky", target: '_blank'
                - google_url = "https://plus.google.com/114545204071567890438?rel=author"
              %li
                = link_to icon("google-plus") + "Google+", google_url, target: '_blank'
              %li
                = link_to icon("rss") + "RSS", posts_url(format: :rss), target: '_blank'
              %li
                = link_to "https://rubygems.org/profiles/heynk" do
                  = image_tag "/images/ruby.png", height: 11, target: "_blank"
                  RubyGems
    .row
      .col-md-12.text-center
        %span
          = succeed(link_to ".", "https://vimeo.com/40434608", target: '_blank', style: "text-decoration: none;", class: "gnar") do
            part time nerd, part time gnar
    %br
    /= hn_ad
    /= bitcoin_ad
    /= render "layouts/bitcoin_rails_ad"
    - if notice
      %p.notice= notice
    .container
      = yield
