!!!
%html

  %head
    %title Personal Website for Hank Stoever
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #sidebar
      = image_tag "https://secure.gravatar.com/avatar/73719c8eb97a63acd87f2f0a918a5005?s=300", class: "avatar", width: 300, height: 300
      .desc
        %h1.retro Hank Stoever
        %p.description
          = succeed(link_to ".", "https://vimeo.com/40434608", target: '_blank', style: "text-decoration: none;") do
            part time nerd, part time gnar shredder
        %p.description
          Lead Platform Engineer for
          = link_to "dailycred", "https://www.dailycred.com"
        %p.description Seattle, Earth
        = link_to "", "mailto:hstove@gmail.com", class: 'icon-envelope'
        = link_to "", "https://github.com/hstove", class: 'icon-github', target: '_blank'
        = link_to "", "http://www.linkedin.com/in/hankstoever", class: 'icon-linkedin', target: '_blank'
        / %br
        / = link :projects
        / %p.link= link_to "Blog", posts_path
    #main
      = yield
    / # = analytics_init if Rails.env.production?